<!DOCTYPE html>
<html lang="en">
<!-- this html file was created by https://file.gallery/src/cultivate.js -->
<!-- templating redone by kiki ~ https://tilde.kiki.directory -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>file.gallery<% if (locals.title && title) { %>/<%= title %><% } %></title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta name="author" content="file.gallery">
  <meta name="description" content="a site sown from files and directories">

  <link rel='stylesheet' href='/src/base.css'>
  <style>
  <%# if there is a background color, render it conditionally %>
  <%_ if (locals.backgroundColor) { _%>
    body {
      color: <%=textColor %>;
      background-color: <%=backgroundColor %>;
    }
  <%_ } _%>
  <%_ if (layout === 'natural') { _%>
    .item {
      display: block;
      position: absolute;
    }
  <%_ } else { _%>
    .item {
      display: inline-block;
    }
  <%_ } _%>
  </style>
</head>

<body>
  <%_ if (locals.title && title) { _%>
  <nav>
    <h1><%= title %></h1>
    <p><a href="..">back</a></p>
  </nav>
  <%_ } _%>

  <%_ if (layout === 'natural') { _%>
    <%- include('natural.ejs')%>
  <%_ } else { _%>
    <%- include('formal.ejs')%>
  <%_ } _%>
</body>
<!--
kevin.garden (<%= layout %> template) by Kevin Chen, 2023-2025
licensed under CC BY-NC 4.0: https://creativecommons.org/licenses/by-nc/4.0/
please link to https://kevin.garden/ or https://file.gallery/, if possible
attribution only in the html source is sufficient. non-commercial use only :)
-->
</html>
